/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2014, 9:46:53 AM
    Author     : dcthang
*/

/*//a.tooltipMenu {outline:none; } 
//a.tooltipMenu strong {line-height:100px;} 
//li.tooltipMenu:hover {text-decoration:none;}*/

li.tooltipMenu div { z-index:10; display:none; padding:14px 20px; margin-top:-30px; margin-left:15px; width:300px; height:auto; line-height:16px; text-align: left}

li.tooltipMenu:hover
div { display:inline; position:absolute; color:#787878; border:1px solid #DCA; background:#EEEEEE;} 
.callout {z-index:20; position:absolute; top:30px; border:0; left:-12px;}

li.tooltipMenu:hover div>ul>li>a { color: #787878;}
li.tooltipMenu:hover div>ul>li:hover >a { color: white;}


